body {
    height: 100%; width: 100%; 
    background-image: url('img/Cure_Making.jpg'); 
    background-size: 800px 600px; 
    background-repeat: no-repeat;
    background-color: black; 
    overflow: hidden;
}
#gameContainer {
    text-align: center;
}

#orderContainer {
    position: absolute;
    width: 170px;
    height: 290px;
    padding: 10px;
    background-color: #a4a4a4;
    top: 275px;
    left: 600px;
    
}

#ingredientImage {
    cursor: grab; /* Make ingredients draggable */
}

#cauldron {
    top: 332px;
    left:300px;
    height: 125px;
    width: 200px;
    position: absolute;
}

button{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: white;
    border: none;
}

img{
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

#acid{
    float: left;
    top: 30px;
    left: 150px;
    height: 100px;
    width: 60px;
    position: absolute;
}

#wing{
    top: 30px;
    left: 275px;
    height: 90px;
    width: 100px; 
    position: absolute;
}

#eye{
    top: 10px;
    left: 425px;
    height: 120px;
    width: 90px; 
    position: absolute;
}

#breath{
    top: 30px;
    left: 600px;
    height: 100px;
    width: 75px;   
    position: absolute;
}

#plant{
    top: 165px;
    left: 280px;
    height: 100px;
    width: 75px;   
    position: absolute;
}

#toes{
    top: 165px;
    left: 390px;
    height: 100px;
    width: 60px;   
    position: absolute;
}

#blood{
    top: 150px;
    left: 520px;
    height: 110px;
    width: 90px;  
    position: absolute; 
}

#cure{
    top: 500px;
    left: 0px;
    position:fixed;
}

