body {
    height: 100%; width: 100%; 
    background-image: url('img/Start.jpg');
    background-repeat: no-repeat; 
    background-size: 800px 600px;
    background-color: rgb(0, 0, 0);
}

button{
    position: absolute;
    left: 550px;
    top: 450px;
}