.body{
    min-height: 100vh;
    min-width: 100rem;
}

#gameContainer {
    text-align: center;
} 

#orderContainer {
    position: absolute;
    width: 150px;
    padding: 10px;
    background-color: #a4a4a4;
    top: 325px;
    left: 600px;
}

#ingredientImage {
    cursor: grab; /* Make ingredients draggable */
}

#cauldron {
    position: absolute;
    top: 330px;
    left: 300px;
    height: 125px;
    width: 200px;
}

button{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: white;
    height: 75px;
    width: 100px;
    top: 523px;
    left: 0px;
    border: none;
}

#eye{
    position: absolute;
    float: left;
    top: 15px;
    left: 150px;
    height: 120px;
    width: 100px;
}

#booger{
    position: absolute;
    float: left;
    top: 15px;
    left: 350px;
    height: 120px;
    width: 100px;
}

#dust{
    position: absolute;
    top: 10px;
    left: 565px;
    height: 120px;
    width: 140px;
}

#tears{
    position: absolute;
    float: right;
    top: 175px;
    left: 315px;
}

#horn{
    position: absolute;
    left: 600px;
    top: 150px;
    height:90px;
}

#currency{
    position: absolute;
    float: right;
    top: 600px;
    left: 275px;
}
